# Build artifacts
*.o
*.so

# Binaries
servidor
servidor_sock
app_cliente_local
app_cliente2_local
app_cliente3_local
app_cliente_sock
app_cliente2_sock
app_cliente3_sock
app_cliente4_sock
app_cliente5_local
app_cliente5_sock
app_cliente6_sock

# Logs/temp
*.log
/tmp/*
