# Build artifacts
*.o
*.so

# RPC binaries
clavesRPC_server
app_cliente_rpc
app_cliente2_rpc
app_cliente3_rpc
app_cliente4_rpc
app_cliente5_rpc
app_cliente6_rpc

# Editor / OS files
.vscode/
.DS_Store

# Logs/temp
*.log
/tmp/*
